@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
}

.flex-center {
  @apply flex items-center justify-center;
}

.container {
  @apply w-1/2 mt-12 max-md:w-width90;
}

.modal {
  @apply fixed top-0 left-0 w-screen h-screen z-10 flex items-center justify-center;
}

.modal-back {
  @apply w-full h-full absolute top-0 left-0 cursor-pointer -z-10 bg-modalBack;
}
